@page
@model SignalRAssignment.Pages.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<div>
    <p class="display-4" style="font-size: 1.3rem; font-weight: 500;">Please log in here.</p>
    <p class="display-4" style="font-size: 1rem">Enter your details below</p>
    <hr />
    <div class="ps-5 ms-5">
        <form method="post">
            <div class="d-flex mt-2" style="font-size: 0.8rem;">
                <div>
                    <p class="px-2 ps-0 my-0" style="font-size: 0.8rem; font-weight: bolder;">User Name</p>
                    <p class="px-2 ps-0 my-0 mt-2 pt-1" style="font-size: 0.8rem; font-weight: bolder;">Password</p>
                </div>
                <div class="mx-3">
                    <div>
                        <input type="text" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2" name="UserName" />
                    </div>
                    <div>
                        <input type="password" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2 mt-2" name="Password" />
                    </div>
                    <div class="mt-2 pt-1">
                        <button type="submit" class="px-2 py-1 border-0" style="background-color: #204ac9;
                            color: #fff; border-radius: 5px">
                            Log in
                        </button>
                        <p id="error-message" class="text-danger mt-2">@Model.ErrorMessage</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
